html{
    align-content: center;
    align-items: center;
    text-align: center;
    font-family: serif;
    text-decoration: underline;
    color: cadetblue;
    text-decoration-color: cadetblue;
    background-color: aqua;
}


